//-
mj-section(background-color="#ffffff")
    mj-group
        mj-column
            mj-image(padding="0" border="0" width="40px" src="https://ext.lb-lg.fr/CRPA/images/p5.png" alt="")
            mj-text(align="center" padding="8px 10px 20px 10px" mj-class="cB" font-family="Museo, Arial" font-style="normal" font-size="16px" font-weight="700" line-height="21px" ) formation en alternance
        mj-column
            mj-image(padding="0" border="0" width="40px" src="https://ext.lb-lg.fr/CRPA/images/p6.png" alt="")
            mj-text(align="center" padding="8px 10px 0 10px" mj-class="cB" font-family="Museo, Arial" font-style="normal" font-size="16px" font-weight="700" line-height="21px") RNCP 
    mj-group
        mj-column
            mj-image(padding="0" border="0" width="40px" src="https://ext.lb-lg.fr/CRPA/images/p6.png" alt="")
            mj-text(align="center" padding="8px 10px 0 10px" mj-class="cB" font-family="Museo, Arial" font-style="normal" font-size="16px" font-weight="700" line-height="21px") Esa
        mj-column
            mj-image(padding="0" border="0" width="40px" src="https://ext.lb-lg.fr/CRPA/images/p6.png" alt="")
            mj-text(align="center" padding="8px 10px 0 10px" mj-class="cB" font-family="Museo, Arial" font-style="normal" font-size="16px" font-weight="700" line-height="21px") Education National
