//- CTA
mj-section(background-color="#ffffff" padding="0px 20px")
    mj-column
        mj-text(align="center" padding="0" mj-class="T+2 cT+1") Pour se rencontrer, rejoignez-nous dès maintenant !
mj-section(background-color="#ffffff" padding="20px 20px 0 20px")
    mj-column(width="244px")
        mj-button(align="center" vertical-align="middle" padding="0 0 20px 0" border="2px solid #ba4995" border-radius="3px" inner-padding="14px 20px" background-color="transparent" css-class="bg-rollover-01 text-rollover"  mj-class="T700 c+1" href="https://www.google.fr/maps/dir/50.6824756,3.1708769/17+Pl.+Charles+et+Albert+Roussel,+59200+Tourcoing/" ) #[i(style="font-family:FontAwesome;font-size:20px;line-height:20px;vertical-align:middle" class="fa-solid fa-location-dot bg-rollover-01")] &nbsp;&nbsp;nous trouver
            //-img(width="18px" style="padding:0;border:0;vertical-align:middle;" src="https://i.ibb.co/chR6hSf/iconMap.png" class="img-rollover" href="https://www.google.fr/maps/dir/50.6824756,3.1708769/17+Pl.+Charles+et+Albert+Roussel,+59200+Tourcoing/")/ &nbsp;&nbsp;nous trouver
    mj-column(width="244px")
        mj-button(align="center" vertical-align="middle" padding="0 0 20px 0" border-radius="3px" inner-padding="16px 22px" css-class="bg-rollover-02" mj-class="T700 bg+1" href="#") #[i(style="font-family:FontAwesome;color:#ffffff;font-size:20px;line-height:20px;vertical-align:middle" class="fa-regular fa-calendar-days")] &nbsp;&nbsp;ajouter à son agenda
            //-img(width="18px" style="padding:0;border:0;vertical-align:middle;" src="https://i.ibb.co/yWL3PNW/icon-Calendrier.png" href="#")/ &nbsp;&nbsp;ajouter à son agenda
mj-section(mj-class="bg-0" padding="0 20px")
    mj-column
        mj-text(align="center" padding="14px 0" mj-class="T+2" color="#ffffff"  letter-spacing="2px") #[a(style="text-decoration:none;color:#ffffff;" href="https://ecosup-assurance.fr" target="_blank") www.ecosup-assurance.fr]