//- CTA
mj-section(background-color="#ffffff" padding="0px 20px")
    mj-column
        mj-text(align="center" padding="0" mj-class="T+2 cT+1") Pour se rencontrer, rejoignez-nous dès maintenant !
mj-section(background-color="#ffffff" padding="20px 20px 0 20px")
    mj-column(width="244px")
        mj-button(align="center" vrtical-align="middle" padding="0 0 20px 0" border="2px solid #ba4995" border-radius="3px" inner-padding="14px 20px" background-color="transparent" mj-class="T700 c+1" href="#")
            img(width="14px" style="vertical-align:middle;" src="https://i.ibb.co/chR6hSf/iconMap.png" href="#")/ &nbsp;nous trouver
    mj-column(width="244px")
        mj-button(align="center" vertical-align="middle" padding="0 0 20px 0" border-radius="3px" inner-padding="16px 22px"  mj-class="T700 bg+1" href="#")
            img(width="14px" style="vertical-align:middle;" src="https://i.ibb.co/yWL3PNW/icon-Calendrier.png" href="#")/ &nbsp;ajouter à son agenda
mj-section(mj-class="bg-0" padding="0 20px")
    mj-column
        mj-text(align="center" padding="14px 0" mj-class="T+2" color="#ffffff"  letter-spacing="2px") www.ecosup-assurance.fr