//- CTA
mj-section(background-color="#ffffff" padding="0px 20px")
    mj-column
        mj-text(align="center" padding="0" mj-class="cB" font-family="Museo, Arial" font-style="normal" font-size="18px" font-weight="400" line-height="21px") Pour plus d'informations, contactez-nous dès maintenant !
mj-section(background-color="#ffffff" padding="20px 20px 0 20px")
    mj-column(width="244px")
        mj-button(align="center" padding="0 0 20px 0" border="2px solid #002467" border-radius="0" inner-padding="14px 20px" background-color="transparent" mj-class="T+1 c+1")
            img(width="11px" src="https://i.ibb.co/1Zsn2N4/tel.png")/ &nbsp;Où nous trouver
    mj-column(width="244px")
        mj-button(align="center" padding="0 0 20px 0" border-radius="0" inner-padding="16px 22px"  mj-class="T+1 bg+1")
            img(width="14px" src="https://i.ibb.co/Jz4W4fN/envelope.png")/ &nbsp;réserver
mj-section(mj-class="bg+1" padding="0 20px")
    mj-column
        mj-text(align="center" padding="14px 0" font-family="Museo, Arial" font-style="normal" font-size="16px" font-weight="700" line-height="120%" color="#ffffff" text-transform="uppercase"  letter-spacing="2px") www.ecosup-assurance.fr