//-formations
mj-section(background-color="#ffffff" padding="30px 20px 20px")
        mj-column(mj-class="bg+1" width="31.111111%" vertical-align="top")
            mj-image(padding="0" border="0" fluid-on-mobile="true" src="https://ext.lb-lg.fr/CRPA/images/img11.jpg" alt="")
            mj-text(align="center" padding="12px 10px 0 10px" mj-class="T+1" text-transform="uppercase") Bts 
            mj-text(align="center" padding="0px 10px 32px 10px" mj-class="T") Assurance
        mj-column(width="20px" vertical-align="top")
            mj-spacer
        mj-column(mj-class="bg+1" width="31.111111%" vertical-align="top")
            mj-image(padding="0" border="0" fluid-on-mobile="true" src="https://ext.lb-lg.fr/CRPA/images/img12.jpg" alt="")
            mj-text(align="center" padding="12px 10px 0 10px" mj-class="T+1" text-transform="uppercase") Bachelor
            mj-text(align="center" padding="0 10px 12px 10px" mj-class="T") Chargé(e) de clientèles en Assurance et Banque
        mj-column(width="20px" vertical-align="top")
            mj-spacer
        mj-column(mj-class="bg+1" width="31.111111%" vertical-align="top")
            mj-image(padding="0" border="0" fluid-on-mobile="true" src="https://ext.lb-lg.fr/CRPA/images/img12.jpg" alt="")
            mj-text(align="center" padding="12px 10px 0 10px" mj-class="T+1" text-transform="uppercase") Mastère
            mj-text(align="center" padding="0 10px 12px 10px" mj-class="T") Expert(e) en Ingénierie Patrimoniale