//- mj-section(background-color='#4A5568' padding='0')
mj-section(background-color='#bfbfbf' padding='10px 0px')
    mj-group(width='450px')
        //-mj-column(width='25%' vertical-align='middle')
            mj-image(padding='0' border='0' width='50px' align='center' src='https://i.ibb.co/1TX5zLW/lg-ESA112024.png' alt='logo ESA (École Supérieure d\'Assurances)')/
        mj-column(width="33.333333%" vertical-align='middle')
            mj-image(padding='0' border='0' width='120px' align='center' src='https://i.ibb.co/HGs67PM/lg-AGEA112024.png' alt='logo AGEA (Agent Général d\'Assurance)')/
        mj-column(width="33.333333%" vertical-align='middle')
            mj-image(padding='0' border='0' width='100px' align='center' src='https://i.ibb.co/9WmCPHs/lg-Grafton112024.png' alt='logo Graphton recrutement')/
        mj-column(width="33.333333%" vertical-align='middle')
            mj-image(padding='0' border='0' width='50px' align='center' src='https://i.ibb.co/MhjdcT8/Logo-BNIculturebusiness.png' alt='logo BNI culture business')/
            
            