//-Header
mj-section(mj-class="bg-0" padding="0")
    mj-column
        mj-spacer(height="20px" container-background-color="#ffffff")
        mj-image(padding="25px 20px 0 20px" align="left" width="153px" src="https://i.ibb.co/wrpwgdn/logo-ECommerce.png" alt="logo Ecosup Commerce")
        mj-text(padding="10px 20px 0 20px" mj-class="c+1 T+3" letter-spacing="-1px") Ecosup Commerce vous ouvre ses Portes !
        mj-text(padding="10px 20px 0 20px" mj-class="T400 cT+1") {{ contact.PRENOM }}, après nos échanges sur le salon de l'Étudiant à Lille, nous vous invitons à découvrir notre campus :
        mj-text(padding="2px 20px" mj-class="T400 cT+1") - Visite guidée de notre établissement
        mj-text(padding="2px 20px" mj-class="T400 cT+1") - Rencontre avec les responsables pédagogiques et les intervenants professionnels
        mj-text(padding="2px 20px" mj-class="T400 cT+1") - Échange avec les étudiants de la promotion
        mj-text(padding="2px 20px" mj-class="T400 cT+1") - Élaboration du plan de financement
        mj-button(padding="20px 20px 25px 20px" mj-class="T700 bg+1") #[span(style="text-transform:uppercase;") Nocturne Portes Ouvertes] jeudi 30 Janvier de 17h à 19h
        mj-spacer(height="20px" container-background-color="#ffffff")
    mj-column
        mj-image(padding="0" border="0" fluid-on-mobile="true" src="https://i.ibb.co/85Fkg0x/affiche-Jpo23112024.jpg" alt="affiche de la jpo du jeudi 30 janvier 2025")
        mj-image(padding="0" border="0" fluid-on-mobile="true" src="https://i.ibb.co/zVvfVbL/jeuneT.jpg" alt="jeunes hommes et jeunes filles en dynamique")
   
   
