//-formations
mj-section(background-color="#ffffff" padding="20px")
        mj-column(background-color="#ffffff" width="50%" vertical-align="top" padding="10px")
            mj-image(padding="0" border="0" fluid-on-mobile="true" src="https://i.ibb.co/7GpF1Ys/HotMan.jpg" alt="formation MAN Mise à Niveau Hôtellerie")
            mj-text(align="right" padding="5px 10px" container-background-color="#74151E" color="#ffffff" mj-class="T-1" text-transform="uppercase") Formation Initiale
            mj-text(align="center" padding="12px 10px 0 10px" container-background-color="#EC6158" mj-class="T700 cT+1" text-transform="uppercase") MAN
            mj-text(align="center" padding="0px 10px 52px 10px" container-background-color="#EC6158" mj-class="T400 cT+1") Mise à niveau
        mj-column(background-color="#ffffff" width="50%" vertical-align="top" padding="10px")
            mj-image(padding="0" border="0" fluid-on-mobile="true" src="https://i.ibb.co/q7YtfJv/HotBTS.jpg" alt="formation BTS Management en Hôtellerie / Restauration")
            mj-text(align="right" padding="5px 10px" container-background-color="#74151E" color="#ffffff" mj-class="T-1" text-transform="uppercase") Formation en Apprentissage
            mj-text(align="center" padding="12px 10px 0 10px" container-background-color="#EC6158" mj-class="T700 cT+1" text-transform="uppercase") BTS
            mj-text(align="center" padding="0 10px 32px 10px" container-background-color="#EC6158" mj-class="T400 cT+1") Management de l'Hôtellerie - Restauration
        mj-column(background-color="#ffffff" width="50%" vertical-align="top" padding="10px")
            mj-image(padding="0" border="0" fluid-on-mobile="true" src="https://i.ibb.co/DDsSXLt/Hot-Bachelor.jpg" alt="formation Bachelor Chargé(e) de Gestion Commerciale en Hôtellerie")
            mj-text(align="right" padding="5px 10px" container-background-color="#74151E" color="#ffffff" mj-class="T-1" text-transform="uppercase") Formation en Apprentissage
            mj-text(align="center" padding="12px 10px 0 10px" container-background-color="#EC6158" mj-class="T700 cT+1" text-transform="uppercase") Bachelor
            mj-text(align="center" padding="0 10px 32px 10px" container-background-color="#EC6158" mj-class="T400 cT+1") Chargé(e) de gestion commerciale en Hôtellerie
        mj-column(background-color="#ffffff" width="50%" vertical-align="top" padding="10px")
            mj-image(padding="0" border="0" fluid-on-mobile="true" src="https://i.ibb.co/PMdkP51/Hot-Mastere.jpg" alt="formation Mastère Manager des Orgnisations en Hôtellerie")
            mj-text(align="right" padding="5px 10px" container-background-color="#74151E" color="#ffffff" mj-class="T-1" text-transform="uppercase") Formation en Apprentissage
            mj-text(align="left" padding="12px 10px 0 10px" container-background-color="#EC6158" mj-class="T700 cT+1" text-transform="uppercase") Mastère
            mj-text(align="left" padding="0 10px 32px 10px" container-background-color="#EC6158" mj-class="T400 cT+1") Manager des Organisations en Hôtellerie