mjml
    mj-head
        mj-title Boostez votre trésorie
        mj-attributes
            mj-class(name="cB" color="#002467")/
            mj-class(name="cJ" color="#ffd400")/
        mj-breakpoint(width="480px")
        mj-style. 
            @import url("https://use.typekit.net/saz8jys.css");
    mj-body(background-color="#dddddd" width="650px")
        //-content
        block content