mjml
    //- Head
    mj-head
        mj-title JPO du 30 janvier 2025 Ecosup Assurance
        mj-font(name='Roboto' href='https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap')
        mj-font(name="fontAwesome" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css")/
        mj-raw.
            <meta name='color-scheme' content='light'/>
            <meta name='supported-color-schemes' content='light'/>
            <meta name="format-detection" content="telephone=no"/>
            <meta name="format-detection" content="date=no"/>
            <meta name="format-detection" content="address=no"/>
            <meta name="format-detection" content="email=no"/>
        mj-attributes
            mj-all(font-family='Roboto, Arial, Helvetica,sans serif')/
            mj-class(name='T+3' font-family="Roboto, Arial, Helvetica, sans-serif" font-style="normal" font-size='36px' line-height='36px' font-weight='900')/
            mj-class(name='T+2' font-family="Roboto, Arial, Helvetica, sans-serif" font-style="normal" font-size='24px' line-height='28px' font-weight='700')/
            mj-class(name='T700' font-family="Roboto, Arial, Helvetica, sans-serif" font-style="normal" font-size='16px' line-height='20px' font-weight='700')/
            mj-class(name='T500' font-family="Roboto, Arial, Helvetica, sans-serif" font-style="normal" font-size='16px' line-height='20px' font-weight='500')/
            mj-class(name='T400' font-family="Roboto, Arial, Helvetica, sans-serif" font-style="normal" font-size='16px' line-height='20px' font-weight="400")/
            mj-class(name='T-1' font-family="Roboto, Arial, Helvetica, sans-serif" font-style="normal" font-size='13px' line-height='17px' font-weight="400")/
            mj-class(name='T-2' font-family="Roboto, Arial, Helvetica, sans-serif" font-style="normal" font-size='10px' line-height='12px' font-weight="300")/
            mj-class(name='L' align="left" border-style="solid" border-width="0.75px" width="80px" padding="10px 0")
            //- couleurs modifiables
            mj-class(name="cT+1" color="#14141f" border-color="#14141f")/
            mj-class(name="cT+0" color="#626262")/
            mj-class(name="c-0" color="#684092")/
            mj-class(name="bg-0" background-color="#58367c")/
            //-mj-class(name="bg-0" background-color="#684092")/
            mj-class(name="c+11" color="#ce7eb3")/
            mj-class(name="c+1" color="#ba4995")/
            mj-class(name="bg+1" background-color="#ba4995")/
            mj-class(name="bg+11" background-color="#ce7eb3")/
        mj-breakpoint(width="480px")
        mj-style.
            .bg-rollover-01:hover td, .bg-rollover-01:hover a{
                background-color: #58367c !important;
                color: #ffffff !important;
                border: 1px solid #58367c !important;
           }

           .text-rollover:hover td, .text-rollover:hover a{
                color: #ffffff !important;
           }

            .bg-rollover-02:hover td, .bg-rollover-02:hover a{
                background-color: #58367c !important;
           }

            @media(max-width:480px){
                .stop{
                    display: none !important;
                }
            }
    //- Body
    mj-body(background-color='#efefef' width="650px")
        //- content
        block content
        //- bloc header
        block header
            include ../includes/supveto/_header
        //- bloc article Supveto
            block imgSupveto
            include ../includes/supveto/_imgSupveto
        //- bloc signature Christian
            block signChristian
            include ../includes/supveto/_signChristian
        //- bloc formations
        block formations
            include ../includes/supveto/_formations-02
        //- bloc argumentaires formations
        block arg
            include ../includes/supveto/_arg
        //- bloc syrendre
        block cTa
            include ../includes/supveto/_cTa
        //- bloc partenaires Assurance
            block sponsors
            include ../includes/supveto/_sponsors
        //- bloc partenaires Assurance
        block partenaires
            include ../includes/supveto/_partenaires
        //- bloc footer
        block footer
            include ../includes/supveto/_footer 