//-extends templates/_layout
extends templates/_assurance
block content 
    mj-section(background-color="#ffffff")
        mj-column
                mj-text(align="center") Voir la version en ligne | Se desincrire de la liste de diffusion
    mj-section(background-color="#002467" padding="0")
        mj-column
            mj-spacer(height="20px" container-background-color="#ffffff")
            mj-image(padding="25px 20px 0 20px" align="left" width="153px" src="https://ext.lb-lg.fr/CRPA/images/logo.png" alt="")
            mj-text(padding="25px 20px 0 20px" mj-class="cJ" font-family="Museo, Arial" font-style="normal" font-size="32px" font-weight="700" line-height="100%") Boostez votre trésorerie dès aujourd'hui !
            mj-text(padding="10px 20px 0 20px" font-family="Museo, Arial" font-style="normal" font-size="16px" font-weight="500" line-height="120%" color="#ffffff") Nous récupérons chaque année des milliers d'impayés de toute nature.
            mj-text(padding="0px 20px" font-family="Museo, Arial" font-style="normal" font-size="16px" font-weight="500" line-height="120%" color="#ffffff") Notre société vous propose les solutions adaptées à vos besoins.
            mj-button(padding="20px 20px 25px 20px" inner-padding="16px" mj-class="cB" background-color="#ffd400" border-radius='0' font-family="Museo, Arial" font-style="normal" font-size="14px" font-weight="700" line-height="120%" text-transform="uppercase") Confiez nous le recouvrement de vos factures impayées
        mj-column
            mj-image(padding="0" border="0" fluid-on-mobile="true" src="https://ext.lb-lg.fr/CRPA/images/banner2.jpg" alt="")
    mj-section(background-color="#ffffff" padding="30px 20px 0 20px")
        mj-column(background-color="#ffd400" width="31.111111%" vertical-align="middle")
            mj-image(padding="0" border="0" fluid-on-mobile="true" src="https://ext.lb-lg.fr/CRPA/images/img11.jpg" alt="")
            mj-text(align="center" padding="23px 0" mj-class="cB" font-family="Museo, Arial" font-style="normal" font-size="16px" font-weight="700" line-height="21px") Recouvrement de créances
        mj-column(width="20px" vertical-align="middle")
            mj-spacer
        mj-column(background-color="#ffd400" width="31.111111%" vertical-align="middle")
            mj-image(padding="0" border="0" fluid-on-mobile="true" src="https://ext.lb-lg.fr/CRPA/images/img12.jpg" alt="")
            mj-text(align="center" padding="12px 10px" mj-class="cB" font-family="Museo, Arial" font-style="normal" font-size="16px" font-weight="700" line-height="21px") Relances précontentieuses à votre nom
        mj-column(width="20px" vertical-align="middle")
            mj-spacer
        mj-column(width="31.111111%" vertical-align="middle")
            mj-image(padding="0" border="0" width="40px" src="https://ext.lb-lg.fr/CRPA/images/p5.png" alt="")
            mj-text(align="center" padding="8px 10px 20px 10px" mj-class="cB" font-family="Museo, Arial" font-style="normal" font-size="16px" font-weight="700" line-height="21px" ) Visite à domicile
            mj-image(padding="0" border="0" width="40px" src="https://ext.lb-lg.fr/CRPA/images/p6.png" alt="")
            mj-text(align="center" padding="8px 10px 0 10px" mj-class="cB" font-family="Museo, Arial" font-style="normal" font-size="16px" font-weight="700" line-height="21px") Procédure amiable et judiciaire
    //- footer
    mj-section(background-color="#ffffff" padding="30px 20px 0 20px")
        mj-column
            mj-text(align="center" padding="0" mj-class="cB" font-family="Museo, Arial" font-style="normal" font-size="18px" font-weight="400" line-height="21px") Pour plus d'informations, contactez-nous dès maintenant !
    mj-section(background-color="#ffffff" padding="20px 20px 0 20px")
        mj-column(width="244px")
            mj-button(align="center" padding="0 0 20px 0" border="2px solid #002467" border-radius="0" inner-padding="14px 20px" background-color="transparent" mj-class="cB" font-family="Museo, Arial" font-style="normal" font-size="16px" font-weight="700" line-height="120%")
                img(width="11px" src="https://i.ibb.co/1Zsn2N4/tel.png")/ &nbsp; 03 81 88 22 36
        mj-column(width="244px")
            mj-button(align="center" padding="0 0 20px 0" border="2px solid #ffd400" border-radius="0" inner-padding="14px 20px" background-color="#ffd400" mj-class="cB" font-family="Museo, Arial" font-style="normal" font-size="16px" font-weight="700" line-height="120%")
                img(width="14px" src="https://i.ibb.co/Jz4W4fN/envelope.png")/ &nbsp; contact@crpa.fr
    mj-section(background-color="#002467" padding="0 20px")
        mj-column
            mj-text(align="center" padding="14px 0" font-family="Museo, Arial" font-style="normal" font-size="16px" font-weight="700" line-height="120%" color="#ffffff" text-transform="uppercase"  letter-spacing="2px") www.crpa.fr
    mj-section(background-color="#ffffff")
        mj-column
            mj-text(align="center") Se désinscrire de la liste de diffusion
