//-Header
mj-section(mj-class="bg-0" padding="0")
    mj-column
        mj-spacer(height="20px" container-background-color="#f2f2f2")
        mj-image(padding="25px 20px 0 20px" align="left" width="153px" src="https://i.ibb.co/18LWQj8/logo-ESante.png" alt="logo Ecosup Santé")
        mj-text(padding="10px 20px 0 20px" mj-class="c+1 T+3" letter-spacing="-1px") Ecosup Santé vous ouvre ses Portes !
        mj-text(padding="10px 20px 0 20px" mj-class="T400 cT+1") {{ contact.PRENOM }}, tu n'as pas pu assister à notre journée portes ouvertes samedi dernier ? Pas de souci ! EcoSup Santé organise une nouvelle session ce jeudi en fin d'après-midi. Rejoins-nous pour découvrir:
        mj-text(padding="2px 20px" mj-class="T400 cT+1") - Une visite guidée de notre établissement,
        mj-text(padding="2px 20px" mj-class="T400 cT+1") - Une rencontre avec les responsables pédagogiques et les intervenants professionnels,
        mj-text(padding="2px 20px" mj-class="T400 cT+1") - Une élaboration du mode de financement.
        mj-button(padding="20px 20px 25px 20px" mj-class="T700 bg+11") #[span(style="text-transform:uppercase;") Nocturne Portes Ouvertes] jeudi 30 Janvier de 17h à 19h
        mj-spacer(height="20px" container-background-color="#ffffff")
    mj-column
        mj-image(padding="0" border="0" fluid-on-mobile="true" src="https://i.ibb.co/CmC3qss/affiche-Jpo30012025.jpg" alt="affiche de la jpo du jeudi 30 janvier 2025")
        mj-image(padding="0" border="0" fluid-on-mobile="true" src="https://i.ibb.co/zVvfVbL/jeuneT.jpg" alt="jeunes hommes et jeunes filles en dynamique")
   
   
