-
    const logosList1 = [
        {
            'image': 'https://i.ibb.co/8r6dR9c/Logo-Aepe01.jpg',
            'alt' : 'logo Les Chérubins, reseau de micro-crèches' 
        },
        {
            'image':'https://i.ibb.co/km0YCNd/Logo-Aepe02.jpg',
            'alt':'logo Nature & Petits Pas, micro-crèche'
        },
        {
            'image':'https://i.ibb.co/nQTzGZ3/Logo-Aepe03.jpg',
            'alt':'logo Le Tipi des Toutpeti'
        },
        {
            'image':'https://i.ibb.co/4FcqpSj/Logo-Aepe04.jpg',
            'alt':'logo de la ville de Wasquehal'
        }
    ]

mj-section(background-color="#ffffff" padding="20px")
    mj-column(width="450px")
        mj-text(align="center" padding="0" mj-class="T+2-300 cT+1") Illustrations d'entreprises accueillant nos étudiants en stage ou en apprentissage
mj-section(background-color="#ffffff" padding="0px 30px 40px 30px") 
    mj-group(width="300px")
        each logo in logosList1
            mj-column(width="25%" padding="4px")
                mj-image(padding="0" border="none" fluid-on-mobile="true" width="150px" src=logo.image alt=logo.alt)/