//-
mj-section(background-color="#d9d9d9" padding="20px 10px")
    mj-column(vertical-align="top" padding="10px")
        mj-image(align="center" padding="0" border="0" width="120px" src="https://i.ibb.co/6Y3byRf/logo-Qualiopijpo12142024.png" alt="logo qualiopi")
        mj-spacer(height="10px")
    mj-column(vertical-align="top" padding="10px")
        mj-image(align="center" padding="0" border="0" width="120px" src="https://i.ibb.co/61w1cZf/logo-RNCPjpo12142024.png" alt="logo RNCP, répertoire national des certifications professionnelles")
        mj-spacer(height="10px")
    mj-column(vertical-align="top" padding="10px")
        mj-image(align="center" padding="0" border="0" width="100px" src="https://i.ibb.co/wWQzSdT/Plan-de-travail-1jpo12142024.png" alt="logo Formatives")
        mj-spacer(height="10px")
    mj-column(vertical-align="top" padding="10px")
        mj-image(align="center" padding="0" border="0" width="70px" src="https://i.ibb.co/Zc6WLhF/logo-Ipamjpo12142024.png" alt="logo IPAM")
        mj-spacer(height="10px")
    mj-column(vertical-align='top' padding="10px")
        mj-image(align="center" padding="0" border="0" width="80px" src="https://i.ibb.co/NmWvQ57/logo-Academie-Lillejpo12142024.png" alt="logo de l'académie de Lille, éducation nationale")
        mj-spacer(height="10px")