//-Header
mj-section(mj-class="bg-0" padding="0")
    mj-column
        mj-spacer(height="36px" container-background-color="#f2f2f2")
        mj-image(padding="30px 20px 0 20px" align="left" width="153px" src="https://i.ibb.co/Jsh5VZ7/let-Emailling-08.jpg" alt="logo Supveto")
        mj-text(padding="10px 20px 0 20px" mj-class="c+1 T+3" letter-spacing="-1px") Supveto vous ouvre ses Portes !
        mj-text(padding="10px 20px 0 20px" mj-class="T400 cT+1") #[span(style="font-weight:700;") {{ contact.PRENOM }}], vous n'avez pas pu assister à notre journée portes ouvertes samedi dernier&nbsp;? Pas de souci&nbsp;! #[span(style="font-weight:700;") Supveto] organise une nouvelle session ce jeudi en fin d'après-midi. Rejoignez-nous pour&nbsp;:
        mj-text(padding="2px 20px" mj-class="T400 cT+1") - Une #[span(style="font-weight:700;") visite guidée] de notre établissement,
        mj-text(padding="2px 20px" mj-class="T400 cT+1") - Une #[span(style="font-weight:700;") Rencontre] avec les responsables pédagogiques et les intervenants professionnels,
        mj-text(padding="2px 20px" mj-class="T400 cT+1") - Une élaboration du mode de financement.
        mj-button(padding="30px 20px" mj-class="T700 bg+1") #[span(style="text-transform:uppercase;") Nocturne Portes Ouvertes] jeudi 30 Janvier de 17h à 19h
        mj-spacer(height="36px" container-background-color="#ffffff")
    mj-column
        mj-image(padding="0" border="0" fluid-on-mobile="true" src="https://i.ibb.co/CmC3qss/affiche-Jpo30012025.jpg" alt="affiche de la jpo du jeudi 30 janvier 2025")
        mj-image(padding="0" border="0" fluid-on-mobile="true" src="https://i.ibb.co/zVvfVbL/jeuneT.jpg" alt="jeunes hommes et jeunes filles en dynamique")
   
   
